<div class="main">
    <a href="/"> Go To home</a>

    <h1> CountDown Task List</h1>

    <div class="container ">
        <!-- Your code here -->
        <table border="1">

            <thead>
            <tr>

                <th colspan="2">Task</th>
                <th>Hours</th>
            </tr>
            </thead>
            <tbody id="content"></tbody>
        </table>
    </div>
</div>
<script src="js/classes/Task.js"></script>
<script src="js/classes/Resources.js"></script>
<script src="js/classes/Formatter.js"></script>

<script src="js/list.js"></script>