<div class="main ">
    <a href="/task"> Go To my tasks</a>
    <h1> CountDown Task</h1>
    <div id="timer"></div>

    <div id="error"></div>

    <div id="task"></div>

    <input type="text" id="text" placeholder="put you're task inside the box">
    <input type="hidden" id="taskValue" placeholder="put you're task inside the box">

    <div class="container ">
        <!-- Your code here -->

        <button id="start"> Start</button>

        <button id="stop"> Stop</button>
    </div>
</div>
<script src="js/classes/Formatter.js"></script>
<script src="js/classes/Resources.js"></script>
<script src="js/classes/Task.js"></script>
<script src="js/classes/Timer.js"></script>

<script src="js/main/MainVariables.js"></script>
<script src="js/main/MainFunctions.js"></script>

<script src="js/index.js"></script>
